@model Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />

<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control"/>
    </div>
    <div class="form-pgroup">
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control"/>
    </div>

    <input type="submit" value="Create" class="btn btn-primary m-2" />
    <a asp-action="Index" class="btn btn-light m-2">Back To List</a>

</form>